body{font-size:10px;}

html{}

p{font-size:1.6em;}

h1{font-size:8vh;}

form{

	background-color: black;
}

img{

	width: 40px;
	height: 40px;
}

img{
	width: 600px;
	height:300px;
	margin-left:25%;
}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
      .icon{
  	background-image: url(../img/logo-iut.jpg) ;
    /* nouvelle image de 60px par 60px */
    background-size: 600px 300px;
    width: 600px;
    height: 300px;
  }
}